.curseclient
.qmenu_opened.marker

XaeroWaypoints*
backups
chiselsandbits
crash-reports
local
logs
o_prof
resourcepacks
modernfix
saves
screenshots
mods

config/spark
config/observable.json
config/voicechat/username-cache.json

minecraftinstance.json
options.txt
patchouli_data.json
reauth.toml
servers.dat*
usercache.json
usernamecache.json
rhino.local.properties
TrashSlotSaveState.json